  <section class="ae-container-fluid rk-main">
      <section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
        <div class="au-xs-ta-center au-lg-ta-left">
          <ul class="rk-menu rk-categories-menu">
          </ul>
        </div>
        <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">
		<a href="/" class="rk-item ae-masonry__item"><img src="assets/img/cafe1.jpg" alt="">
            <div class="item-meta">
              <h2>Cafetal</h2>
              <p>Manizales</p>
            </div></a><a href="/" class="rk-item ae-masonry__item"><img src="assets/img/paisaje2.jpeg" alt="">
            <div class="item-meta">
              <h2>Paisaje Cultural Cafetero</h2>
              <p>Pereira</p>
            </div></a><a href="/" class="rk-item ae-masonry__item"><img src="assets/img/colonizadores3.jpg" alt="">
            <div class="item-meta">
              <h2>Monumento a los Colonizadores</h2>
              <p>Manizales</p>
            </div></a><a href="/" class="rk-item ae-masonry__item"><img src="assets/img/estadio4.jpg" alt="">
            <div class="item-meta">
              <h2>Estadio Hernan Ramirez Villegas</h2>
              <p>Pereira</p>
            </div></a><a href="/" class="rk-item ae-masonry__item"><img src="assets/img/plazabolivar5.jpg" alt="">
            <div class="item-meta">
              <h2>Plaza de Bolivar</h2>
              <p>Armenia</p>
            </div></a><a href="/" class="rk-item ae-masonry__item"><img src="assets/img/cable6.jpg" alt="">
            <div class="item-meta">
              <h2>El Cable</h2>
              <p>Manizales</p>
            </div></a><a href="/" class="rk-item ae-masonry__item"><img src="assets/img/viaducto7.jpg" alt="">
            <div class="item-meta">
              <h2>Viaducto</h2>
              <p>Pereira</p>
            </div></a><a href="/" class="rk-item ae-masonry__item"><img src="assets/img/toros8.jpg" alt="">
            <div class="item-meta">
              <h2>Plaza de Toros</h2>
              <p>Manizales</p>
            </div></a><a href="/" class="rk-item ae-masonry__item"><img src="assets/img/parcafe9.jpg" alt="">
            <div class="item-meta">
              <h2>Parque del Cafe</h2>
              <p>Armenia</p>
            </div></a><a href="/" class="rk-item ae-masonry__item"><img src="assets/img/turismoeje10.png" alt="">
            <div class="item-meta">
              <h2>Finca Cafetera</h2>
              <p>Pereira</p>
            </div></a>
        </div>
      </section>
    </section>
