<div class="ae-grid au-xs-ta-center au-mb-4 animated fadeIn">
  <div class="ae-grid au-pt-2">
    <div class="ae-grid__item item-lg-8 item-lg--offset-2">
      <h4 class="ae-u-bolder">RESEÑA HISTÓRICA DEL TURISMO DEL CAFE</h4>
      <p>El Eje Cafetero, territorio de paz, paisajes hermosos, el mejor café del mundo, un clima, estupendo Y gente amable se abre al
      mundo con sus fincas cafeteras convertidas en hostales y haciendas para los turistas cansados de playas y sol extenuante,
      por todo esto se busca fortalecer la industria del turismo como fuente de la economía nacional lo cual es la meta de TURISMO
      Y CAFÉ EN LA WEB</p>
    </div>
    <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/recinto-1.jpg" alt="" class="au-mb-3">
      <h5 class="ae-u-bolder au-mt-2">Recinto del Pensamiento</h5>
      <p class="ae-u-bolder au-mb-3">MANIZALES</p>
      <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">La historia del Recinto del Pensamiento se relaciona con la historia de la Colonia Escolar La Enea, que surge hacia 1935,
      cuando se crea una pequeña "granja – albergue", para albergar a niños huérfanos debido a una avalancha que arrasó varias
      viviendas a la orilla de la quebrada Manizales. El terreno pasó a ser propiedad del Municipio, que lo destinó a la formación
      de jóvenes en técnicas agropecuarias, y posteriormente pasó a ser del Departamento. Una vez conocido el programa de Colonias
      Escolares del Ministerio de Educación Nacional (MEN), el Comité Departamental de Cafeteros de Caldas decide comprar esta
      propiedad y establecer un centro para procesos de recuperación nutricional de niños de la zona rural del departamento. 300
      niños empiezan a recibir educación formal, con metodología tradicional, a lo que se suma una atención nutricional para un
      mejor desempeño escolar. Los niños, procedentes de todos los municipios cafeteros de Caldas, permanecían vinculados durante
      un año a este proceso, período después del cual regresaban a sus hogares.
</p>
    </div>
    <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/viaducto-2.jpg" alt="" class="au-mb-3">
      <h5 class="ae-u-bolder au-mt-2">Viaducto</h5>
      <p class="ae-u-bolder au-mb-3">PEREIRA</p>
      <p align="justify">El viaducto César Gaviria Trujillo es un puente atirantado que une a la ciudad de Pereira con el municipio de Dosquebradasatravesando
      el Valle del Río Otún, dentro del Área Metropolitana de Centro Occidente en el occidente de Colombia. Diariamente transitan
      por allí 186.000 vehículos. En las mañanas el flujo mayoritario es de Dosquebradas a Pereira y en las tardes sucede lo contrario.
      Fue inaugurado el 19 de noviembre de 1997 y su nombre fue dado en honor al presidente número 40 de Colombia, César Gaviria,
      que nació en la ciudad de Pereira. Es una estructura mixta de 704 m de longitud constituida por tres componentes: Un puente
      atirantado central y dos módulos de acceso. El puente atirantado tiene una longitud de 440 m y está soportado en dos pilones
      de concreto estructural con alturas de 96 m y 105 m, la luz principal es de 211 m. Los dos módulos de acceso están soportados
      en 17 pilas de concreto y el ancho del tablero es de 24 m, el cual se encuentra a una altura de 55 m sobre el Río Otún. El
      volumen total de concreto estructural empleado en el proyecto fue de 19.500 metros cúbicos y la estructura metálica pesa
      2.758 toneladas, de las cuales 177 corresponden al acero de los tirantes. La longitud de su tramo central es de 211 m. El
      puente constituye un punto de referencia para la ciudad convirtiéndose junto con el monumento al Bolívar desnudo en uno de
      sus principales iconos. Debido al terremoto de 1999 tuvo serias afectaciones que con el pasar del tiempo fueron reconstruidas.
</p>
    </div>
    <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/jeep-3.jpg" alt="" class="au-mb-3">
      <h5 class="ae-u-bolder au-mt-2">Jeepao</h5>
      <p class="ae-u-bolder au-mb-3">ARMENIA</p>
      <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">El Yipao es un Jeep Willys, tipo campero, que ha sido adaptado para poder transportar una gran cantidad de carga, especialmente
      productos agrícolas como racimos de plátano, bultos de naranja y sacos de café, por las carreteras de los departamentos de
      Quindío, Risaralda y el Valle del Cauca. Si visitas la zona cafetera colombiana, no te sorprendas si te encuentras por las
      carreteras a los Jeep Willys o Yipaos cargando una asombrosa cantidad de todo tipo de equipaje: desde pollos, camas, colchones,
      bicicletas y productos agrícolas hasta pasajeros apretujados en cualquier espacio libre o aferrados a los lados del carro.
      Ubica tu cursor sobre la imagen y descubre más acerca de la historia del Yipao, un símbolo de la zona cafetera colombiana.
</p>
    </div>
  </div>
</div>
<div class="ae-grid ae-grid--alt au-xs-ptp-1">
  <div class="ae-grid__item--alt item-lg-4">
    <h6 class="ae-u-boldest">MISIÓN</h6>
    <p class="au-lh-3">El eje cafetero en la web es una empresa prestadora de servicios turísticos, dedicada a la oferta de paquetes,
    generando confianza, eficiencia y ética, orientada a satisfacer las necesidades y expectativas de nuestros clientes, a través
    de altos estándares de calidad. </p>
  </div>
  <div class="ae-grid__item--alt item-lg-4">
    <h6 class="ae-u-boldest">VISIÓN</h6>
    <p class="au-lh-3">Deseo que turismo y café en la web al 2018 sea una empresa ya consolidada nos haga más competitivos alcanzando y manteniendo
    un liderazgo en el mercado. Satisfaciendo las necesidades de nuestros clientes, convenio con proveedores confiables, comprometidos
    en la prestación de excelentes servicio.</p>
  </div>
  <div class="ae-grid__item--alt item-lg-4">
    <h6 class="ae-u-boldest">POLITICAS DE CALIDAD</h6>
    <p class="au-lh-3">Turismo y café en la Web presta sus servicios con calidad, cumplimiento seguridad buscando la satisfacción del cliente, basado
    en un personal idóneo y comprometido. Que garantiza el buen funcionamiento de la Empresa desarrollando conciencia del cuidado
    del medio ambiente y el mejoramiento continuo. </p>
  </div>
</div>
<p class="au-flex au-pt-4 group-buttons">
  <a routerLink="home" class="au-mt-4 arrow-button arrow-button--right arrow-button--out">Regresar al Portafolio<span class="arrow-cont">
        <svg>
          <use xlink:href="assets/img/symbols.svg#arrow"></use>
        </svg></span></a></p>
